! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
! Usage: State:                      'bg',          'fg',    'bgalt',       'hlbg',       'hlfg'
rofi.color-enabled:                  true
rofi.color-normal:                   argb:00000000,  #212121, argb:00000000,  #212121,  #03a9f4
rofi.color-urgent:                   argb:00000000,  #FF5722 , argb:00000000,  #FF5722 , #212121
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC , #03a9f4
rofi.color-window:                   #ffffff,  #03a9f4,  #03a9f4
!! Separator style (none, dash, solid)
rofi.separator-style: solid
